NODE_ENV=development
# Port number
PORT=3000

# URL of the Mongo DB
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.<url>.mongodb.net/<dbname>?retryWrites=true&w=majority

# JWT secret key
JWT_SECRET=secretkey
# Number of minutes after which an access token expires
JWT_ACCESS_EXPIRATION_MINUTES=60
# Number of days after which a refresh token expires
JWT_REFRESH_EXPIRATION_DAYS=31

# Facebook fake user access_token for test oauth2
FACEBOOK_TEST_ACCESS_TOKEN=key
# Google fake user access_token for test oauth2
GOOGLE_TEST_ACCESS_TOKEN=key

SMTP_HOST=email_server
SMTP_PORT=email_serverport
SMTP_USERNAME=email_server_username
SMTP_PASSWORD=email_server_password
EMAIL_FROM=email_server@domain.com